extends layout

block content
  div.container
    br
    div#player.row.well
      div.span8
        strong
          |Now Playing: 
        if info.Title
          |#{info.Title} by #{info.Artist} from the album #{info.Album}
        else
          |Nothing
      div.span3
        div.btn-group
          button.btn(onclick="javascript:dispatchCommand('previous')", title="previous song")
            i.icon-fast-backward
          button.btn(onclick="javascript:dispatchCommand('play')", title="play")
            i.icon-play
          button.btn(onclick="javascript:dispatchCommand('toggle')", title="pause")
            i.icon-pause
          button.btn(onclick="javascript:dispatchCommand('next')", title="next song")
            i.icon-fast-forward
          button.btn(onclick="javascript:dispatchCommand('setvol', { 'volume': #{status.volume}-5 })", title="volume down")
            i.icon-volume-down
          button.btn(onclick="javascript:dispatchCommand('setvol', { 'volume': #{status.volume}+5 })", title="volume up")
            i.icon-volume-up
    div.row
      p.span8.text-info
        |Current status is #{status.state} / 
        if info.Pos
          |#{parseInt(info.Pos) + 1} of #{playlist.length} items / Random: 
        else
          |Random: 
        if status.random === '1'
          |on 
        else
          |off 
        | / Repeat: 
        if status.repeat === '1'
          |on 
        else
          |off 
      div.span1
        |Volume
      div.progress.progress-info.span3
        div.bar(style="width: #{status.volume}%")
    if status.error
      div.row.alert.alert-error
        |MPD Error: #{status.error}
    
    if error
      div.row.alert.alert-error
        |Client Error: #{error}

    div.row.well
      div.span5
        p
          |Current playlist:
        ol
          each playlistitem in playlist
            if playlistitem.Title
              if playlistitem.Id === info.Id
                strong
                  li
                    |#{playlistitem.Title} by #{playlistitem.Artist}
                    a.pull-right(title="remove", href="javascript:dispatchCommand('delete', { Pos: '#{playlistitem.Pos}' })")
                      i.icon-remove-sign
              else
                li
                  |#{playlistitem.Title} by #{playlistitem.Artist}
                  a.pull-right(title="remove", href="javascript:dispatchCommand('delete', { Pos: '#{playlistitem.Pos}' })")
                    i.icon-remove-sign

        p
          button.btn.btn-mini.btn-block(onclick="javascript:dispatchCommand('clear')", title="clear playlist")
            |Clear playlist 
            i.icon-eject

      div.span6
        p
          |Search for a track to add:
        form.form-search(action="#", onsubmit="javascript:search(document.getElementById('searchTerm').value )")
          div.input-append
            input#searchTerm.span5.search-query(type="text")
            input.btn(type="submit" value="Search")
        div#searchresults
          ul.unstyled     
              
