extends layout

block content
  h1= title
  
  if error
    p #{error}

  form(action='/setvol', method='post')
    input(name='volume', value='#{status.volume}')
    button Set Volume

  p Status is #{status.state}

  p Now playing: #{info.Title} by #{info.Artist} from the album #{info.Album}

  form(action='/previous', method='post')
    button Previous

  form(action='/toggle', method='post')
    button Play/Pause

  form(action='/next', method='post')
    button Next
  select
    each item in list
      option= item.directory